.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #eee;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;

}

.Order span {
    border-radius: 6px;
    border: 1px solid red;
    margin: 0 4px;
    padding: 4px;
    background-color: rgb(247, 211, 217);
}