.Logo {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    /* align-items: center; */
    
}

.Logo img {
    height: 100%;
}