.ContactData {
    margin: 20px auto;
    width: 80%;
    /* text-align: center; */
    border: 1px solid #ccc;
   
}

.ContactData h2 {
    text-align: center;
}

.ContactData .ButtonDiv button {
    margin: 20px 0;
    /* align-items: center; */
}

.ContactData .ButtonDiv {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}